<!-- views/bienvenida.html -->
 <!-- pagina que aparece una vez que se identifica un usuario -->
{% extends "base.html" %} <!-- aquí usamos la herencia -->
{% block content %}

<!-- Contenedor principal -->
<div class="container mt-5 text-center">
    <!-- Título principal -->
    <h1 class="mb-4" style="color:#027373;">¡Bienvenido, {{ usuario }}!</h1> <!-- Titulo -->
    <p class="mb-4">Nos alegra tenerte de vuelta. Explora nuestra tienda y encuentra lo que necesitas.</p> <!-- Subtitulo -->

    <!-- Botón para ir a la tienda -->
    <a href="/" class="btn btn-primary btn-lg mb-4">Ir a la Tienda</a>

</div>

{% endblock %}